{% extends "sign/main.html" %}
{% load socialaccount %}

{% block content %}

    <a class="btn btn-yandex" href="{% provider_login_url 'yandex' process='login' %}">
        Войти через Яндекс
    </a>



    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Войти">
    </form>

    <p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
{% endblock %}
