{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Поиск новостей
{% endblock title %}

{% block content %}
    <h1>Поиск новостей</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" class="btn btn-primary"/>
    </form>
    <hr>

    {% if posts %}
        <h3>Найдено новостей: {{ posts|length }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Заголовок</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Автор</th>
                <th>Текст</th>
            </tr>
            </thead>
            <tbody>
            {% for item in posts %}
                <tr>
                    <td><a href="{% url 'post_detail' item.pk %}">{{ item.title|censor }}</a></td>
                    <td>{% for category in item.category.all %}
                        <a href="{% url 'category_posts' category.id %}">{{ category.name }}</a>
                    {% empty %}
                        Нет категорий
                    {% endfor %}
                    </td>
                    <td>{{ item.timestamp|date:"d.m.Y" }}</td>
                    <td><a href="{% url 'author_detail' pk=item.author.pk %}">
                        {{ item.author.user.username|censor }}
                    </a>
                    </td>
                    <td>{{ item.content|censor|truncatewords:20 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Новостей не найдено!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}