{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>News Portal</title>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <!-- Favicon-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
{% cache 60 navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 24px; font-weight: bold;">NewsPortal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'news_list' %}">Новости</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'news_search' %}">Поиск</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'authors_list' %}">Список авторов</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'categories_list' %}">Категории</a></li>
            </ul>


            <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-outline-light mx-1">Профиль
                        ({{ request.user.username }})</a>

                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mx-1">Выйти</button>
                    </form>

                    <a href="{% url 'news_create' %}" class="btn btn-outline-primary mx-1">Создать публикацию</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-outline-primary mx-1">Регистрация</a>
                    <a href="{% url 'login' %}" class="btn btn-success mx-1">Войти</a>
                {% endif %}


                <a href="{% url 'news_list' %}" class="btn btn-outline-primary mx-1 d-lg-none">Новости</a>
                <a href="{% url 'news_search' %}" class="btn btn-outline-primary mx-1 d-lg-none">Поиск</a>
            </div>
        </div>
    </div>
</nav>
{% endcache %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {% block content %}
                {{ flatpage.content }}
            {% endblock content %}
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->

<!-- Core theme JS-->

</body>
</html>
